<div>
  <div class="form-group">
    <label for="logWidth1">Largeur 1 des poutres (en mm)</label>
    <input type="number" class="form-control" id="logWidth1" ng-change="logDimension.render()" ng-model="logDimension.logDimension.width"></input>
  </div>
  <div class="form-group">
    <label for="logWidth2">Largeur 2 des poutres (en mm)</label>
    <input type="number" class="form-control" id="logWidth2" ng-change="logDimension.render()" ng-model="logDimension.logDimension.height"></input>
  </div>

</div>
