<div>
  <div class="form-group">
    <label for="zomeOrder">Ordre (numbre de murs)
      <button popover-placement="left" uib-popover="Le nombre d'ordre du zome, représente le nombre de mur, le nombre de losanges par couronne,
      et le nombre de couronnes (niveaux de losanges) de la forme geometrique complete. Plus le nombre d'ordre est eleve plus la maison sera difficile a construire"
      type="button" class="btn btn-default">?</button>
    </label>
    <input type="number" class="form-control" id="zomeOrder" ng-model="zomeView.orderNumber" ng-change="zomeView.updateZome()"></input>




  </div>
  <div class="form-group">
    <label for="zomeLevelHeight">Hauteur des couronnes en cm
      <button popover-placement="left" uib-popover="La hauteurs des couronnes est identique pour chaque couronne. Un ordre de 5 avec une hauteur de couronnes de 10 cm fera une forme complete de 5 x 10 cm.
      Pour un zome, seul le toit est gardé, (2, 3, 4 couronnes). Cela donne donc une estimation de la hauteur du toit." type="button" class="btn btn-default">?</button>
    </label>
    <input type="number" class="form-control" id="zomeLevelHeight" ng-model="zomeView.levelHeight" ng-change="zomeView.updateZome()"></input>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <label for="zomeAngle">Angle de la base par rapport a l'horizontale</label>
      <input type="number" class="form-control" id="zomeAngle" ng-model="zomeView.baseAngle" ng-change="zomeView.updateZome()"></input>
      <button popover-placement="left" uib-popover="Entre 20 et 75. Plus l'angle est grand plus le toit
      sera plat et la maison large." type="button" class="btn btn-default">?</button>
    </div>
  </div>

</div>
